.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border: transparent;
    border-radius: 50%;
    background-color: #864cff;
    cursor: pointer;
}

.arrow {
    width: 25px;
    height: 20px;
}


@media (min-width: 768px) {
    .arrow {
        width: 35px;
        height: 35px;
    }
}